.header {
  width: 100%;
  height: 3rem;
  margin-bottom: 1rem;

  .solid {
    background: #c0c0c0;
  }

  .transparent {
    background: transparent;
  }

  .solid,
  .transparent {
    padding: 0.5rem 1rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 1;
  }
}
